/tidy-data/_extensions/
/tidy-data/*_files/
/tidy-data/*.html
/tidy-data/tidy-data-exercise.qmd
/randomness/_extensions/
/randomness/*_files/
/randomness/*.html
/randomness/randomness-exercise.qmd
/.claude
.DS_Store
randomness/data-and-randomness-interactive-brief.md
*.zip
*.rds
*.R
*.json
